* {
    font-family: 'Helvetica Neue','微軟正黑體', sans-serif;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1364px;
    }
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

/* .flex- {
    flex-grow: 1;
} */

.text-gray {
    color: #707070;
}

.bg-blue {
    background: #F5FAFD;
}

.btn-back {
    color: #ffffff;
    background-color: #3294C2;
    border: #3294C2;
    height: 2.5rem;
    width: 7rem;
    font-size: 1.25rem;
    border-radius: 1.5rem;
}

.btn-back:hover {
    color: #ffffff;
    background-color: #49A7D3;
}

.btn-back:active {
    color: #B2B4B6;
    background-color: #3294c2
}

.btn-back:after:active:after {
    color: #ffffff;
    background-color: #3294C2
}

#section1 .title {
    border-bottom: 4px solid #3294C2;
}

#section1 {
    height: 100vh;
}

.logo {
    width: 7.25rem;
    height: 7.25rem;
}

#section1 h1 {
    color: #3294C2;
    font-size: 5rem;
    margin: 0;
}

#section1 h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 16px;
}

#section1 h3 {
    margin: 1rem;
    font-weight: normal;
}

#section1 .video-circle {
    position: absolute;
    transform: translateY(-50%);
    height: 60%;
    top: 50%;
    z-index: -1;
}

#section1 .video {
    object-fit: contain;
    position: relative;
    flex-grow: 1;
}

#section1 .video-text1 {
    min-height: 4rem;
}

#section1 .video-text2 {
    min-height: 5rem;
}

#section1 #links {
    background-color: #3294C2;
    height: 6rem;
}

#section1 .link {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#section1 .link span {
    font-size: 1.75rem;
    min-width: 12rem;
}

#section1 .link img {
    height: 2.75rem;
    margin-right: 1rem;
}

.link:focus {
    outline: none;
}


.link:hover {
    text-decoration: none;
}

.line-separator {
    width: 2px;
    margin: 1.5rem 2rem 1.5rem 0;
    height: 3rem;
}

#section1 #about {
    font-weight: lighter;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 1.5rem 0;
}

.title1 {
    border-bottom: 4px solid #3294c2;
}

.title1 h1 {
    font-size: 3.25rem;
    color: #3294C2;
    margin: 1rem 3rem 0.5rem 3rem;
}

.title1 h2 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 3rem 1rem;
}

#section2 h3 {
    font-size: 1.75rem;
    font-weight: lighter;
    margin: 1.5rem 3rem 1.5rem ;
}

#section2 .steps {
    padding: 1rem 3rem;
}

#section2 .step {
    margin: 0;
    padding: 1rem 0;
}

.step+.step {
    border-top: #B2B4B6 solid 1px;
}

#section2 .step span {
    color: #3294C2;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

#section2 .step .img-wrapper {
    padding: 0 2rem;
}

#section2 .step img {
    max-height: 90px;
    object-fit: contain;
}

#section2 p {
    font-size: 1.5rem;
    font-weight: normal;
    border-left: #3294C2 0.5rem solid;
}

#section2 .p767 {
    padding-left: 1rem;
}

.back {
    height: 6rem;
}


#section3 .theme1 {
    padding: 16px;
}

#section3 .list {
    font-size: 1.45rem;
    font-weight: lighter;
    margin-right: 1rem;
    min-width: 300px;
}

#section3 .theme-title {
    font-size: 1.5rem;
    color: #3294C2;
    padding-top: 3rem;
}

#section3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#section3 ol {
    list-style: none;
    padding: 0;
}

#section3 .list-item {
    border-left: 4px solid transparent;
    padding-left: 8px;
}

#section3 .list-item.selected,
#section3 .list-item:hover {
    font-weight: bold;
    color: #3294C2;
    border-color: #3294C2;
}

#section3 .list-point {
    font-size: 24px;
}

#section3 .list-point::before {
    content: "•";
    padding-right: 8px;
    color: #3294C2;
    size: 8px;
}

#section3 .b-img-wrapper {
    height: 90%;
}

#section3 .right-side {
    margin: 0 0 0 24px;
}

/* .bb-img {
    min-height: 19rem;
} */

#section3 .b-img {
    max-width: 100%;
    object-fit: contain;
}

#section3 .img-list{
    width: 100%;
}

.s-img+.s-img {
    margin-left: 8px;
}
#section3 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 2rem

}
#section3 .grid-item {
    padding: 20px;
    font-size: 2rem;
    height: 120px;
    cursor: pointer;
}

#section3 .grid-item:hover {
    background-color: #4eb3e2;
    color: white;
}

#section3 .grid-item span {
    width: 80%;
}

.modal-hmmm .modal-dialog {
    max-width: 90%;
    margin: 0 auto;
    max-height: 90%;
}

.modal-hmmm .close {
    float: unset;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 3rem;
}

.modal-hmmm .modal-body {
    padding: 1rem;
}

.modal-hmmm .modal-body-wrapper {
    padding: 0 1rem 1rem;
}

.modal-hmmm .modal-title {
    font-size: 3rem;
    color: #3294C2;
}

.modal-hmmm .modal-title {
    padding: 2rem 0;
}

.modal-hmmm .modal-content-wrapper {
    max-height: calc(100vh - 170px);
    overflow: scroll;
}

.modal-hmmm .modal-description {
    min-height: 5rem;
    font-size: 2.5rem;
    color: #3294C2;
    margin-bottom: 2rem;
}

.modal-hmmm .modal-list-content {
    flex-direction: row;
}

.modal-hmmm .modal-list-content .modal-list-content__right {
    margin-left: 2rem;
}

/* #section4 {
    height: 100vh;
} */

#section4 .list {
    font-size: 1.75rem;
    font-weight: lighter;
    margin-right: 1rem;
    min-width: 300px;
    margin-top: 1rem;
}

#section4 .list-item {
    border-left: 4px solid transparent;
    padding-left: 8px;
    margin: 1rem 0;
}

#section4 .list-item.selected,
#section4 .list-item:hover {
    font-weight: bold;
    color: #3294C2;
    border-color: #3294C2;
}

#section4 .video-title1 span {
    font-size: 2rem;
    color: #3294C2;
    margin: 2rem 0 2rem 0;
}

#section4 .video-title span {
    font-size: 2rem;
    color: #3294C2;
    margin: 2rem 0 2rem 0;
}

#section4 .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 2rem

}
#section4 .grid-item {
    padding: 20px;
    font-size: 2rem;
    width: 23.5rem;
    height: 12rem;
    cursor: pointer;
    margin: 1rem;
}

#section4 .grid-item:hover {
    background-color: #4eb3e2;
    color: white;
}

#section4 .grid-item span {
    width: 80%;
}

/* #section4 .modal-title1 {
    font-size: 2.5rem;

} */

#section4 .video2 .text2 {
    font-size: 1.5rem;
    color: #707070;
    margin: 0 0 0.75rem 0;
}

#section4 .modal-video .text2 {
    font-size: 2rem;
    color: #707070;
    margin: 0 0 1rem 0;
}

/* #section4 .modal-video-img a{
    width: 5rem;
} */

#section4 .modal-video-img img {
    width: 18rem;
}

#section4 .modal-video-img1 img {
    width: 35rem;
    margin: 0 0 1rem 0;
}

#section4 .modal-video .text2 + .modal-video-img1 {
    margin-top: 0.5rem;
}

#section4 .video2 + .video2 {
    margin-top: 1rem;
}